/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/tools export-ignore
/bin export-ignore
/tests export-ignore
/node_modules export-ignore
/vendor-bin export-ignore
/docker export-ignore
/.idea export-ignore
/.vscode export-ignore
*.md export-ignore
README.md !export-ignore
CHANGELOG.md !export-ignore
*.psd export-ignore
*.zip export-ignore
*.map export-ignore
Thumbs.db export-ignore
*.lock export-ignore
*.dist export-ignore
*.DS_Store export-ignore
*.gitkeep export-ignore
assets/img/.gitkeep !export-ignore
